node_modules/
.next/
.env
.env.local
.env.development
.env.production
.DS_Store
dist/
npm-debug.log*
.vscode/
package-lock.json

# Yarn PnP
.pnp
.pnp.*

# Coverage
coverage/

# Build outputs
out/
build/

# Logs
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# System files
Thumbs.db
*.pem

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts
